# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.picture.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Светлана\source\repos\picture\.idea\.idea.picture\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
